<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,0},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>ball_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>ball_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,0},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>levelBtn00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>levelBtn01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,128},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>levelBtn01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>levelBtn02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,186},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>levelBtn02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>levelBtn03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>levelBtn03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,302},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>levelBtn04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,244},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>levelBtn04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>playBtn00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,64},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>playBtn00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,64},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>playBtn01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,0},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>playBtn01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,0},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>playBtn02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,0},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>playBtn02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,0},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>playBtn03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,64},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>playBtn03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,0},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>startBtn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,418},{384,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,94}}</string>
                <key>sourceSize</key>
                <string>{384,94}</string>
            </dict>
            <key>startBtn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{384,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,94}}</string>
                <key>sourceSize</key>
                <string>{384,94}</string>
            </dict>
            <key>uiBtn01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,64},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>uiBtn01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,64},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>uiBtn02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,0},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>uiBtn02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,64},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIBTN.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3839041e8cb7f0ca432c1f5eefbb81c:a915ca66a4ba203781bf182c67701dca:9df366cc732d42ce9c4fb682accfb911$</string>
            <key>textureFileName</key>
            <string>UIBTN.png</string>
        </dict>
    </dict>
</plist>
